@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans/OpenSans-Light.woff2") format("woff2"),
    url("../fonts/OpenSans/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans/OpenSans-Bold.woff2") format("woff2"),
    url("../fonts/OpenSans/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans/OpenSans.woff2") format("woff2"),
    url("../fonts/OpenSans/OpenSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
