@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans/OpenSans-Light.woff2') format('woff2'),
  url('../fonts/OpenSans/OpenSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans/OpenSans-Bold.woff2') format('woff2'),
  url('../fonts/OpenSans/OpenSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans/OpenSans.woff2') format('woff2'),
  url('../fonts/OpenSans/OpenSans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans/OpenSans-Light_1.woff2') format('woff2'),
  url('../fonts/OpenSans/OpenSans-Light_1.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans/OpenSans-Bold_1.woff2') format('woff2'),
  url('../fonts/OpenSans/OpenSans-Bold_1.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans/OpenSans_1.woff2') format('woff2'),
  url('../fonts/OpenSans/OpenSans_1.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
