html {
  box-sizing: border-box;
}

body {
  box-sizing: inherit;
  min-width: $widthMobileBody;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
}

.hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  padding: 0;
}

.decoration {
  &::after {
    content: "";
    display: block;
    border-bottom: 50px solid #f2f2f2;
    border-left: 320px solid transparent;
    width: 0;
    height: 0;
  }
}

.star {
  color: #d22856;
}

@media (min-width: 660px) {
  body {
    min-width: 100%;
  }

  .wrapper {
    width: 620px;
    margin: 0 auto;
  }

  .decoration {
    &::after {
      content: "";
      display: block;
      border-bottom: 50px solid #f2f2f2;
      border-left: 100vw solid transparent;
      width: 0;
      height: 0;
    }
  }
}
