html {
  box-sizing: border-box;
}

body {
  position: relative;
  box-sizing: inherit;
  min-width: $widthMobileBody;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
}

.hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.star {
  color: #d22856;
}

.logo {
  width: 75px;
  height: 23px;
}

.logo-tablet {
  display: none;
}

@media (min-width: $widthTabletBody) {
  body {
    min-width: 100%;
  }

  .logo {
    display: none;
  }

  .logo-tablet {
    display: block;
    width: 148px;
    height: 42px;
    padding: 33px 0;
  }
}
