html {
  box-sizing: border-box;
}

body {
  box-sizing: inherit;
  min-width: $widthMobileBody;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
}

.hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  padding: 0;
}

.star {
  color: #d22856;
}

.logo {
  width: 75px;
  height: 23px;
}

.feature {
  display: block;
  height: 27px;
  width: 100%;
  color: $colorFont;
  font-size: 14px;
  font-weight: 600;
  line-height: 27px;
  background-color: #d22856;
  margin: 0;
}

@media (min-width: $widthTabletBody) {
  body {
    min-width: 100%;
  }

  .wrapper {
    width: 620px;
    margin: 0 auto;
  }
}

@media (min-width: $widthDesktopBody) {
  .wrapper {
    width: 940px;
    margin: 0 auto;
  }
}
