$widthMobileBody: 320px;
$widthTabletBody: 660px;
$widthDesktopBody: 1200px;
$colorPage: #1d2631;
$colorPage2: #283645;
$colorFont: #ffffff;
$base-font-color-content: #283645;
$base-font-color-title: #d22856;
