.achievements {
  background-color: #f2f2f2;
}

.achievements .wrapper {
  outline: 1px solid red;
}

.achievements__item {
  margin-left: 90px;
  margin-top: 55px;
}

.achievements__title {
  color: #d22856;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
  padding: 0 35px;
}

.achievements__input {
  visibility: hidden;
  position: absolute;
  opacity: 0;
}

.achievements__label {
  position: relative;
  color: #283645;
  font-size: 18px;
  font-weight: 400;

  &::before {
    content: "";
    display: block;
    width: 35px;
    height: 35px;
    background-color: #ffffff;
    border: 3px solid #e5e5e5;
    position: absolute;
    top: 0;
    left: -80px;
    transform: translate(0, -20%);
  }
}

@media (min-width: $widthTabletBody) {
  .achievements {
    background-color: #ffffff;
    order: 4;
  }
}

@media (min-width: $widthDesktopBody) {
  .achievements__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
