.achievements {
  background-color: #f2f2f2;
}

.achievements__item {
  margin-left: 75px;
  margin-top: 52px;

  &:first-child {
    margin-top: 0;
  }
}

.achievements__title {
  color: $base-font-color-title;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
  padding: 40px 35px;
}

.achievements__input {
  visibility: hidden;
  position: absolute;
  opacity: 0;

  &:checked + .achievements__label::before {
    content: "";
    display: block;
    background-image: url("../img/icon-yes-form.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
}

.achievements__label {
  position: relative;
  color: $base-font-color-content;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  cursor: pointer;

  &::before {
    content: "";
    display: block;
    width: 35px;
    height: 35px;
    background-color: #ffffff;
    border: 3px solid #e5e5e5;
    position: absolute;
    bottom: -8px;
    left: -70px;
  }
}

@media (min-width: $widthTabletBody) {
  .achievements {
    background-color: #ffffff;
    order: 4;
  }

  .achievements__title {
    display: none;
  }

  .achievements__item {
    margin-left: 119px;
    margin-top: 52px;

    &:first-child {
      margin-top: 43px;
    }
  }

  .achievements__label {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -9px;
      left: -62px;
    }
  }
}

@media (min-width: $widthDesktopBody) {
  .achievements__item {
    width: 22%;
    margin-left: 103px;
    margin-top: 41px;
  }

  .achievements__label {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -9px;
      left: -50px;
    }
  }

  .achievements__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .achievements__item-selfie {
    order: 1;
  }

  .achievements__item-chuck {
    order: 2;
  }

  .achievements__item-tower {
    order: 3;
  }

  .achievements__item-scorched {
    order: 4;
  }

  .achievements__item-souvenirs {
    order: 5;
  }

  .achievements__item-hotel {
    order: 6;
  }
}
