.achievements {
  background-color: #f2f2f2;
}

.achievements__item {
  margin-left: 90px;
  margin-top: 55px;
}

.achievements__title {
  color: $base-font-color-title;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
  padding: 0 35px;
}

.achievements__input {
  visibility: hidden;
  position: absolute;
  opacity: 0;
}

.achievements__label {
  position: relative;
  color: $base-font-color-content;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;

  &::before {
    content: "";
    display: block;
    width: 35px;
    height: 35px;
    background-color: #ffffff;
    border: 3px solid #e5e5e5;
    position: absolute;
    top: 0;
    left: -80px;
    transform: translate(0, -20%);
  }
}

@media (min-width: $widthTabletBody) {
  .achievements {
    background-color: #ffffff;
    order: 4;
  }
}

@media (min-width: $widthDesktopBody) {
  .achievements__item {
    width: 22%;
    margin-left: 103px;
  }

  .achievements__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .achievements__item-selfie {
    order: 1;
  }

  .achievements__item-chuck {
    order: 2;
  }

  .achievements__item-tower {
    order: 3;
  }

  .achievements__item-scorched {
    order: 4;
  }

  .achievements__item-souvenirs {
    order: 5;
  }

  .achievements__item-hotel {
    order: 6;
  }
}
