.advantages {
  margin: 0;
  padding: 7px 25px;
  //display: flex;
  //flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
}

.advantages__item {
  list-style-type: none;
  margin: 0;

  &:first-child {
    padding-top: 40px;
  }
}

.advantages__title {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}

.advantages__description {
  color: #283645;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

@media (min-width: 660px) {
  .advantages-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    position: relative;
  }
}
