.advantages {
  margin: 0;
  padding: 7px 25px;
  align-items: center;
}

.advantages__item {
  list-style-type: none;
  margin-top: 46px;
}

.advantages__title {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 10px;
  text-align: center;
  //padding-top: 14px;
  padding-bottom: 6px;
}

.advantages__description {
  color: $base-font-color-content;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
}

@media (min-width: $widthTabletBody) {
  .advantages {
    margin-right: 7px;
    padding: 0;
    width: 303px;
  }

  .advantages__item:first-child {
    padding-top: 0;
  }

  .advantages__item {
    margin: 0;
    padding-top: 13px;
  }

  .advantages__title {
    text-align: left;
    margin: 0;
    padding-top: 25px;
    line-height: 10px;
  }

  .advantages__description {
    text-align: left;
    margin: 0;
    padding-top: 17px;
    line-height: 24px;
  }
}

@media (min-width: $widthDesktopBody) {
  .advantages {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: auto;
    margin: -70px auto 0;
    padding: 0;
  }

  .advantages__item {
    position: relative;
    width: 317px;
    padding-top: 0;
  }

  .advantages__title {
    margin-top: 58px;
    padding: 0 39px;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
  }

  .advantages__description {
    margin-top: 22px;
    padding: 0 34px;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
  }

  .advantages__img {
    width: 186px;
    height: 300px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;

    &::after {
      content: "";
      display: block;
      width: 300px;
      height: 17px;
      background-image: url("../img/shadow-decoration.png");
      position: absolute;
      top: 291px;
      left: 7px;
      opacity: 0.3;
    }
  }

  .webp .advantages__img-black-white {
    background-image: url("../img/iphone-screen-1-desktop@1x.webp");
    background-position: center;
  }

  .webp .advantages__img-pink {
    background-image: url("../img/iphone-screen-2-desktop@1x.webp");
    background-position: center;
  }

  .webp .advantages__img-pink-smile {
    background-image: url("../img/iphone-screen-3-desktop@1x.webp");
    background-position: -14px 0;
    width: 234px;
  }

  .advantages__img-black-white {
    background-image: url("../img/iphone-screen-1-desktop@1x.png");
    background-position: center;
  }

  .advantages__img-pink {
    background-image: url("../img/iphone-screen-2-desktop@1x.png");
    background-position: center;
  }

  .advantages__img-pink-smile {
    background-image: url("../img/iphone-screen-3-desktop@1x.png");
    background-position: -14px 0;
    width: 234px;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .webp .advantages__img-black-white {
      background-image: url("../img/iphone-screen-1-desktop@2x.webp");
      background-position: center;
    }

    .webp .advantages__img-pink {
      background-image: url("../img/iphone-screen-2-desktop@2x.webp");
      background-position: center;
    }

    .webp .advantages__img-pink-smile {
      background-image: url("../img/iphone-screen-3-desktop@2x.webp");
      background-position: -14px 0;
      width: 234px;
    }
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .advantages__img-black-white {
      background-image: url("../img/iphone-screen-1-desktop@2x.png");
      background-position: center;
    }

    .advantages__img-pink {
      background-image: url("../img/iphone-screen-2-desktop@2x.png");
      background-position: center;
    }

    .advantages__img-pink-smile {
      background-image: url("../img/iphone-screen-3-desktop@2x.png");
      background-position: -14px 0;
      width: 234px;
    }
  }
}
