.advantages {
  margin: 0;
  padding: 7px 25px;
  align-items: center;
}

.advantages__item {
  list-style-type: none;
  margin: 0;

  &:first-child {
    padding-top: 40px;
  }
}

.advantages__title {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}

.advantages__description {
  color: #283645;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

@media (min-width: $widthTabletBody) {
  .achievements__title {
    display: none;
  }

  .advantages__item:first-child {
    padding-top: 0;
  }
}

@media (min-width: $widthDesktopBody) {
  .advantages {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: -70px;
    padding: 0;
  }

  .advantages__item {
    position: relative;
    width: 300px;
  }

  .advantages__title {
    padding: 0 80px;
  }

  .advantages__description {
    padding: 0 45px;
  }

  .advantages__img {
    width: 186px;
    height: 300px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;

    &::after {
      content: "";
      display: block;
      width: 300px;
      height: 17px;
      background-image: url("../img/shadow-decoration.png");
      position: absolute;
      bottom: 180px;
      left: 0;
      opacity: 0.3;
    }
  }

  .advantages__img-black-white {
    background-image: url("../img/iphone-screen-mobile@1x.png");
  }

  .advantages__img-pink {
    background-image: url("../img/iphone-screen-mobile@1x.png");
  }

  .advantages__img-pink-smile {
    background-image: url("../img/iphone-screen-mobile@1x.png");
  }
}
