.contact .wrapper {
  display: flex;
  flex-direction: column;
}

.contact__container {
  margin-top: 21px;
}

.contact__item {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  margin-top: 20px;

  &:first-child {
    margin: 0;
  }
}

.contact__label {
  color: $base-font-color-title;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
  margin-left: 40px;
}

.contact__input {
  display: block;
  height: 60px;
  width: 250px;
  border: 2px solid #e5e5e5;
  margin: 0 auto;
  padding: 0 10px;
  font-size: 18px;

  &:hover {
    border-color: #283645;
    transition: 0.3s;
  }

  &:focus {
    outline: none;
    border-color: #d22856;
    transition: 0.3s;
  }
}

.contact__input::placeholder {
  color: #283645;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  padding-left: 10px;
}

@media (min-width: $widthTabletBody) {
  .contact {
    order: 3;
  }

  .contact__container {
    padding: 8px 0 25px;
  }

  .contact__item {
    flex-direction: column-reverse;
    align-items: flex-start;
    margin-top: 35px;
  }

  .contact__input {
    width: 480px;
  }

  .contact__label {
    margin-left: 75px;
    margin-top: 5px;
  }

  .contact__label--tel {
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 60px;
      height: 60px;
      background-image: url("../img/phone.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-color: #e5e5e5;
      position: absolute;
      top: -67px;
      right: -354px;
    }
  }

  .contact__label--mail {
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 60px;
      height: 60px;
      background-image: url("../img/mail.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-color: #e5e5e5;
      position: absolute;
      top: -67px;
      right: -384px;
    }
  }
}

@media (min-width: $widthDesktopBody) {
  .contact .form__fieldset {
    order: 3;
    flex-direction: row;
  }

  .contact__item {
    flex-direction: column-reverse;
    align-items: flex-start;
    margin: 0;
  }

  .contact__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 8px 0 15px;
    width: 100%;
  }

  .contact__input {
    width: 350px;
  }

  .contact__label {
    margin-left: 20px;
  }

  .contact__label--tel {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: -67px;
      right: -224px;
    }
  }

  .contact__label--mail {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: -67px;
      right: -254px;
    }
  }
}
