.contact .wrapper {
  display: flex;
  flex-direction: column;
}

.contact__container {
  margin-top: 0;
  padding-bottom: 4px;
}

.contact__item {
  display: flex;
  flex-direction: column-reverse;
  padding: 0;
  margin: 0;
  margin-top: 20px;

  &:first-child {
    margin: 0;
  }
}

.contact__label {
  color: $base-font-color-title;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
  margin-left: 29px;
}

.contact__input {
  display: block;
  font-family: "Open Sans", "Arial", sans-serif;
  width: 250px;
  border: 2px solid #e5e5e5;
  margin: 0 auto;
  padding: 18px 10px;
  font-size: 18px;
  line-height: 18px;

  &:hover {
    border-color: #283645;
    transition: 0.3s;
  }

  &:focus {
    outline: none;
    border-color: #d22856;
    transition: 0.3s;
  }
}

.contact__input::placeholder {
  color: #283645;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  padding-left: 10px;
}

@media (min-width: $widthTabletBody) {
  .contact {
    order: 3;
  }

  .contact__container {
    padding: 8px 0 25px;
    margin-top: 31px;
  }

  .contact__item {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 31px;
  }

  .contact__input {
    width: 420px;
    padding-right: 70px;
    padding-left: 10px;
    background-color: transparent;
    z-index: 5;
  }

  .contact__label {
    margin-left: 75px;
    margin-top: 10px;
  }

  .contact__label--tel {
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 61px;
      height: 62px;
      background-image: url("../img/phone.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-color: #e5e5e5;
      position: absolute;
      top: -74px;
      right: -354px;
    }
  }

  .contact__label--mail {
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 61px;
      height: 62px;
      background-image: url("../img/mail.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-color: #e5e5e5;
      position: absolute;
      top: -74px;
      right: -384px;
    }
  }
}

@media (min-width: $widthDesktopBody) {
  .contact .form__fieldset {
    order: 3;
    flex-direction: row;
  }

  .contact__item {
    flex-direction: column;
    align-items: flex-start;
    margin: 0;

    &:first-child {
      margin-left: 10px;
    }
  }

  .contact__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 8px 0 15px;
    width: 100%;
    margin-top: 32px;
  }

  .contact__input {
    width: 290px;
  }

  .contact__label {
    margin-left: 20px;
  }

  .contact__label--tel {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: -74px;
      right: -224px;
    }
  }

  .contact__label--mail {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: -74px;
      right: -255px;
    }
  }

  .contact__item--mail {
    margin-right: 19px;
  }
}
