.contacts-info__title {
  color: $base-font-color-content;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}

.contacts-info__description {
  color: $base-font-color-title;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
  text-decoration: none;

  &--mail {
    &:hover {
      color: #283645;
      text-decoration: underline;
      cursor: pointer;
      transition: 0.3s;
    }

    &:active {
      color: #e9ebec;
    }
  }
}


@media (min-width: $widthTabletBody) {
  .contacts-info__title--mail {
    margin-left: 38px;
  }

  .contacts-info__title--bell {
    margin-right: 42px;
  }

  .contacts-info__description--mail {
    margin-left: 40px;
  }

  .contacts-info__description--bell {
    margin-right: 40px;
  }
}

@media (min-width: $widthDesktopBody) {
  .map {
    height: 485px;
  }
}
