.contacts-info__title {
  color: $base-font-color-content;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}

.contacts-info__description {
  color: $base-font-color-title;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
  text-decoration: none;

  &--mail {
    &:hover {
      color: #283645;
      text-decoration: underline;
      cursor: pointer;
      transition: 0.3s;
    }

    &:active {
      color: #e9ebec;
    }
  }
}
