.contacts {
  outline: 1px solid red;
  overflow: hidden;
}

.contacts__heading {
  color: #283645;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}

.contacts__map {
  height: 200px;
  overflow: hidden;
  background-image: url("../img/bg-map-mobile@1x.png");
}
