.contacts {
  outline: 1px solid red;
  overflow: hidden;
}

.contacts__decoration {
  position: relative;

  &::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 100vw solid transparent;
    border-right: 100vw solid transparent;
    border-top: 100px solid #ffffff;
    position: absolute;
    transform: translateX(-37%);
  }
}

.contacts__heading {
  color: #283645;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}

.contacts__map {
  height: 200px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}

.contacts__map-item {
  width: 100%;
  height: auto;
}

.contacts__wrapper {
  padding: 0 25px;
}

@media (min-width: $widthTabletBody) {
  .contacts__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .contacts-info {
    width: 280px;
  }

  .contacts__decoration {
    position: relative;

    &::after {
      content: "";
      transform: translateX(-38%);
    }
  }

  .contacts__map {
    height: 380px;
  }
}
