.download {
  background-color: $colorPage;
  padding-bottom: 29px;
  border-top: 1px solid transparent;
}

.download__button {
  margin: 28px auto 0;
}

.download__items {
  margin-top: 33px;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}

.download__platform {
  list-style-type: none;
  margin-right: 34px;
}

.download__platform:last-child {
  margin-right: 0;
}

.download__lnk {
  text-decoration: none;
  font-size: 0;
}

.download__availability {
  color: #d2d3d4;
  margin: 21px auto 0;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  padding: 0 25px;
}

.download__text {
  display: none;
  color: $colorFont;
  font-size: 40px;
  font-weight: 300;
  text-align: center;
  width: 220px;
  margin: 0 auto;
}

@media (min-width: $widthTabletBody) {
  .download {
    position: absolute;
    bottom: 84px;
    left: 0;
    margin-left: 20px;
    max-width: 300px;
    z-index: 1;
    background-color: transparent;
  }

  .download__text {
    display: block;
    margin-top: 10px;
    font-size: 40px;
    line-height: 46px;
    margin-bottom: 31px;
  }

  .download__items {
    margin-top: 47px;
  }

  .download__availability {
    font-size: 18px;
    margin-top: 35px;
    padding: 0;
  }
}

@media (min-width: $widthDesktopBody) {
  .download {
    margin-top: 0;
    margin-left: 0;
    position: absolute;
    bottom: 92px;
    left: 9px;
  }

  .download__text {
    display: block;
    margin: 10px auto 47px;
    font-size: 50px;
    line-height: 62px;
  }

  .download__items {
    margin-top: 66px;
  }

  .download__availability {
    margin-top: 55px;
  }
}
