.download {
  height: 271px;
  background-color: $colorPage;
  padding-bottom: 20px;
  outline: 1px solid red;
  border-top: 1px solid transparent;
}

.download__button {
  margin: 28px auto 0;
}

.download__items {
  margin: 30px 0 0 0;
  padding: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.download__platform {
  list-style-type: none;
  margin-right: 34px;
}

.download__platform:last-child {
  margin-right: 0;
}

.download__lnk {
  text-decoration: none;
  font-size: 0;
}

.download__availability {
  color: $colorFont;
  margin: 25px auto 0;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
}

.download__text {
  display: none;
  color: $colorFont;
  font-size: 40px;
  font-weight: 300;
  text-align: center;
  width: 220px;
  margin: 0 auto;
}

@media (min-width: 660px) {
  .download {
    max-width: 300px;
    margin-top: -504px;
    margin-left: 20px;
    z-index: 1;
    background-color: transparent;
    //position: absolute;
    //top: 50%;
    //transform: translate(0, -250px);
  }

  .download__text {
    display: block;
    line-height: 40px;
  }
}
