.download {
  background-color: $colorPage;
  padding-bottom: 20px;
  outline: 1px solid red;
  border-top: 1px solid transparent;
  position: absolute;
}

.download__button {
  margin: 28px auto 0;
}

.download__items {
  margin: 30px 0 0 0;
  padding: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.download__platform {
  list-style-type: none;
  margin-right: 34px;
}

.download__platform:last-child {
  margin-right: 0;
}

.download__lnk {
  text-decoration: none;
  font-size: 0;
}

.download__availability {
  color: $colorFont;
  margin: 25px auto 0;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
}

.download__text {
  display: none;
  color: $colorFont;
  font-size: 40px;
  font-weight: 300;
  text-align: center;
  width: 220px;
  margin: 0 auto;
}

@media (min-width: $widthTabletBody) {
  .download {
    top: 0;
    left: 0;
    max-width: 300px;
    z-index: 1;
    background-color: transparent;
  }

  .download__text {
    display: block;
    margin-top: 10px;
    line-height: 40px;
  }
}
