.feature {
  display: block;
  height: 34px;
  width: 139px;
  font-size: 16px;
  color: $colorFont;
  font-weight: 400;
  line-height: 34px;
  background-color: $base-font-color-title;
  margin: 0;
}
