.footer-main {
  width: 320px;
  margin: 0 auto;

  &--photo {
    padding: 40px 0 30px;
  }

  &--form {
    padding: 54px 0 30px;
  }
}

.footer-main__logo-academy {
  display: inline;
  width: 32px;
  height: 32px;
  position: absolute;
  top: -11px;
  left: 195px;
  fill: #d22856;

  &:hover {
    fill: #283645;
    transition: 0.3s;
  }

  &:active {
    fill: #bec2c7;
  }
}

.footer-main--index-mobile {
  display: none;
}

.footer-main__links {
  padding: 18px 0 13px;
}

.footer-main__logo {
  text-align: center;
}

.footer-logo {
  .footer-logo__part1 {
    fill: #d22856;
  }

  .footer-logo__part2 {
    fill: #d22856;
  }
}

.logo-link:hover {
  .footer-logo__part1 {
    fill: #d22856;
  }

  .footer-logo__part2 {
    fill: #d22856;
  }
}

.footer-main__address {
  display: block;
  color: $colorPage2;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  position: relative;
  margin-top: 40px;
  margin-right: 40px;
}

@media (min-width: $widthTabletBody) {
  .footer-main {
    display: block;
    width: 100%;
    padding-top: 21px;
    margin-top: 68px;
  }

  .footer-main--form {
    padding-top: 15px;
  }

  .footer-main--photo {
    margin-top: 10px;
  }

  .footer-main--index-mobile {
    margin-top: 30px;
    padding-top: 0;
    padding-bottom: 30px;
  }

  .footer-main__links {
    margin: 0;
    padding: 0;
  }

  .footer-main .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .footer-main__address {
    font-size: 14px;
    line-height: 18px;
    margin-right: 37px;
    margin-top: 10px;
  }

  .footer-main__logo-academy {
    width: 40px;
    height: 40px;
    position: absolute;
    top: -9px;
    left: 92px;
  }
}

@media (min-width: $widthDesktopBody) {
  .footer-main__address {
    font-size: 18px;
    line-height: 24px;
  }

  .footer-main__logo-academy {
    position: absolute;
    top: -6px;
    left: 118px;
  }

  .footer-main {
    padding-top: 74px;
  }

  .footer-main--photo {
    padding-top: 84px;
    margin-top: 0;
  }

  .footer-main--form {
    padding-top: 0;
  }

  .footer-main--index-mobile {
    margin-top: 0;
    padding-top: 67px;
  }
}
