.footer-main {
  width: 320px;
  margin: 0 auto;

  &--photo {
    padding: 40px 0 30px;
  }

  &--form {
    padding: 54px 0 30px;
  }
}

.footer-main__logo-academy {
  display: inline;
  width: 27px;
  height: 36px;
}

.footer-main--index-mobile {
  display: none;
}

.footer-main__links {
  padding: 0;
  padding-bottom: 13px;
  padding-top: 18px;
}

.footer-main__logo {
  text-align: center;
}

.footer-main__address {
  display: block;
  color: $colorPage2;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
}

@media (min-width: $widthTabletBody) {
  .footer-main {
    display: block;
    width: 100%;
    padding-top: 21px;
    margin-top: 68px;
  }

  .footer-main--form {
    padding-top: 15px;
  }

  .footer-main--photo {
    margin-top: 8px;
  }

  .footer-main--index-mobile {
    margin-top: 16px;
    padding-top: 0;
    padding-bottom: 30px;
  }

  .footer-main__links {
    margin: 0;
    padding: 0;
  }

  .footer-main .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .footer-main__address {
    font-size: 14px;
    line-height: 18px;
    position: relative;
  }

  .footer-main__logo-academy {
    position: absolute;
    top: -9px;
    left: 92px;
  }
}

@media (min-width: $widthDesktopBody) {
  .footer-main__address {
    font-size: 18px;
    line-height: 24px;
  }

  .footer-main__logo-academy {
    position: absolute;
    top: -6px;
    left: 118px;
  }

  .footer-main {
    padding-top: 74px;
  }

  .footer-main--photo {
    padding-top: 92px;
    margin-top: 0;
  }

  .footer-main--form {
    padding-top: 0;
  }

  .footer-main--index-mobile {
    margin-top: 0;
    padding-top: 67px;
  }
}
