.form .wrapper {
  display: flex;
  flex-direction: column;
}

.form__items {
  margin-bottom: 30px;
}

.form__require {
  display: block;
  margin-top: 40px;
  color: $colorPage2;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.form__container-submit {
  padding: 0 18px;
}

.form__submit {
  margin-top: 8px;
}

.form__require-hidden {
  display: none;
}

.form__container-submit .wrapper {
  display: flex;
  flex-direction: column;
}

.form__fieldset {
  border: none;
}

.form__fieldset-legend {
  display: none;
}

@media (min-width: $widthTabletBody) {
  .form {
    padding-top: 9px;
  }

  .form__container-submit {
    order: 6;
    width: 620px;
    margin-top: 37px;
    padding: 0;
  }

  .form__submit.button {
    padding: 15px 58px;
    margin: 0;
  }

  .form__container-submit .wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  .form__require {
    margin-top: 0;
  }

  .form__fieldset {
    border: 3px solid #e5e5e5;
    margin: 0;
  }

  .form__fieldset-legend {
    display: block;
    text-align: center;
    color: #d22856;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    margin-left: 40px;
    padding: 0 40px;
  }

  .form__fieldset--os-select {
    padding: 0;
    padding-bottom: 50px;
    width: 613px;
    margin-top: 20px;
  }

  .form__fieldset--contact {
    padding: 0;
    width: 613px;
    margin-top: 16px;
  }

  .form__fieldset--achievements {
    padding: 0;
    padding-bottom: 34px;
    width: 619px;
    margin-top: 22px;
  }

  .form__fieldset--textarea {
    padding: 0;
    width: 619px;
    margin: 21px auto 0;
  }
}

@media (min-width: $widthDesktopBody) {
  .form {
    margin-top: 0;
    padding-top: 0;
  }

  .form .wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 940px;
    margin: 0 auto;
  }

  .form__items {
    padding-bottom: 0;
  }

  .form__container-submit {
    margin: 0;
    padding: 0;
  }

  .form__container-submit .wrapper {
    justify-content: space-between;
  }

  .form__fieldset--os-select {
    width: 430px;
    margin-left: 20px;
    padding-bottom: 50px;
  }

  .form__fieldset--contact {
    width: 940px;
  }

  .form__fieldset--achievements {
    width: 940px;
    margin: 20px auto 0;
  }

  .form__fieldset--textarea {
    width: 940px;
    margin: 21px auto 37px;
  }

  .form__fieldset-legend {
    padding: 0 20px;
  }

  .form__require-hidden {
    display: inline;
  }
}
