.header-main {
  background-color: #2a3a4a;
  position: relative;
  width: 320px;
  margin: 0 auto;
}

.header-main__nav {
  display: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.header-main__items {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  text-align: center;
}

.header-main__item {
  list-style-type: none;
  margin: 0 auto;
  padding: 6px;
}

.header-main__link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 32px;
  padding: 14px;
  color: $colorFont;
  font-weight: 700;
  text-align: center;
}

.header-main__logo {
  background-color: rgba(29, 38, 49, 0.7);
  width: 100%;
  z-index: 2;
  position: absolute;
  top: 0;
}

.header-main__logo .wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header-main__logo--position {
  position: relative;
  border-bottom: 1px solid #000000;
  background-color: #283645;
}

.header-main__logo .logo {
  padding: 22px 0 25px 20px;
}

.header-main__intro {
  width: 100%;
  min-height: 170px;
  font-size: 0;
  background-color: $colorPage;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top;
}

.header-main__intro--form {
  padding-top: 0;
}

.header-main__intro--index {
  padding-top: 0;
}

.header-main__img {
  padding-top: 107px;
}

.header-main__title {
  color: $colorFont;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
  margin: 0;
  padding: 95px 25px 50px;
}

.header-main__title--padding {
  padding: 28px 25px 50px;
}

.header-main__popup-button {
  display: block;
  margin-right: 20px;
  width: 46px;
  height: 24px;
  border: 0;
  position: relative;
  background-color: transparent;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &::after {
    content: "";
    display: block;
    width: 50px;
    height: 4px;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    box-shadow: 0 10px 0 0 #ffffff, 0 -10px 0 0 #ffffff;
  }
}

.header-main__popup-button--closed {
  display: block;
  width: 50px;
  height: 24px;
  border: 0;
  position: relative;
  background-color: transparent;

  &::after {
    content: "";
    display: block;
    width: 50px;
    height: 4px;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    box-shadow: 0 10px 0 0 #ffffff, 0 -10px 0 0 #ffffff;
  }

  &::before {
    content: "";
    display: block;
    width: 50px;
    height: 4px;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    box-shadow: none;
  }
}

.header-main__popup-button--opened {
  display: block;
  border: 0;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: transparent;

  &::after {
    content: "";
    width: 30px;
    transform: translateY(-50%) rotate(45deg);
    box-shadow: none;
  }

  &::before {
    content: "";
    display: block;
    width: 30px;
    height: 4px;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%) rotate(-45deg);
    box-shadow: none;
  }
}

.header-main__popup-button--none {
  display: none;
}

@media (min-width: $widthTabletBody) {
  .header-main {
    width: 100%;
  }

  .header-main__popup-button--opened {
    width: 26px;
  }

  .header-main__logo .logo {
    padding: 42px 0 44px;
  }

  .header-main__title {
    font-size: 50px;
    font-weight: 300;
    width: 500px;
    padding: 67px 0 75px;
    line-height: 62px;
    margin: auto;
  }

  .header-main__intro {
    background-size: cover;
    min-height: 330px;
  }

  .header-main__intro--index {
    padding-top: 106px;
  }

  .header-main__intro--photo {
    padding-top: 103px;
  }

  .header-main__intro--form {
    padding-top: 63px;
  }

  .header-main__download-container {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
  }

  .header-main__img-container {
    margin-left: auto;
    width: 492px;
  }

  .header-main__img {
    padding-top: 73px;
    width: 100%;
    height: auto;
  }

  .header-main__popup-button {
    margin-right: 0;
  }
}

@media (min-width: $widthDesktopBody) {
  .header-main {
    width: 100%;
  }

  .header-main__img-container {
    width: 585px;
  }

  .header-main__title {
    font-size: 50px;
    font-weight: 300;
    width: 760px;
    padding: 0;
    margin-top: -31px;
  }

  .header-main__nav {
    display: block;
  }

  .header-main__intro {
    min-height: 190px;
    padding-top: 205px;
  }

  .header-main__intro--index {
    padding-top: 206px;
  }

  .header-main__intro--photo {
    padding-top: 203px;
  }

  .header-main__logo .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .header-main__items {
    padding: 10px 0;
  }

  .header-main__item {
    margin: 0;
    padding: 0;
    margin-left: 80px;

    &:first-child {
      margin-left: 0;
    }
  }

  .header-main__link {
    display: block;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    padding: 0;
  }

  .header-main__popup-button {
    display: none;
  }

  .header-main__img {
    width: auto;
    height: 647px;
    margin-left: auto;
    padding-top: 0;
  }
}
