.information {
  outline: 1px solid red;
  border-top: 1px solid transparent;
}

.information__container {
  background-color: #f2f2f2;
}

.information__item {
  color: #283645;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  margin: 0;
  margin-top: 40px;
}

.information__img {
  height: 280px;
  text-align: center;
  background-color: #f2f2f2;
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-position: top, center;
  background-repeat: no-repeat;
  z-index: 2;
}

.information__decoration {
  &::after {
    content: "";
    display: block;
    border-bottom: 50px solid #f2f2f2;
    border-left: 320px solid transparent;
    width: 0;
    height: 0;
  }
}

@media (min-width: $widthTabletBody) {
  .information {
    margin-top: 214px;
  }

  .information .wrapper {
    border-color: #f2f2f2;
  }

  .information__img {
    width: 270px;
    height: 480px;
    flex-shrink: 0;
    background-size: cover;
    background-color: transparent;
    margin-left: 20px;
  }

  .information__decoration {
    &::after {
      content: "";
      display: block;
      border-bottom: 50px solid #f2f2f2;
      border-left: 100vw solid transparent;
      width: 0;
      height: 0;
      margin-bottom: -39px;
    }
  }

  .information__container {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    background-color: #f2f2f2;
  }
}

@media (min-width: $widthDesktopBody) {
  .information__img {
    display: none;
  }

  .information__decoration {
    margin-bottom: 100px;

    &::after {
      content: "";
      display: block;
      border-bottom: 50px solid #f2f2f2;
      border-left: 100vw solid transparent;
      width: 0;
      height: 0;
      margin-bottom: 0;
    }
  }
}

