.webp .information {
  border-top: 1px solid transparent;
  background-image: url("../img/iphone-screen-mobile@1x.webp");
  background-repeat: no-repeat;
  background-position: center 728px;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .webp .information {
      border-top: 1px solid transparent;
      background-image: url("../img/iphone-screen-mobile@2x.webp");
      background-repeat: no-repeat;
      background-position: center 728px;
    }
  }
}

.information {
  border-top: 1px solid transparent;
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center 728px;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .information {
      border-top: 1px solid transparent;
      background-image: url("../img/iphone-screen-mobile@2x.png");
      background-repeat: no-repeat;
      background-position: center 728px;
    }
  }
}

.information__intro {
  padding-bottom: 65px;
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    display: block;
    border-bottom: 35px solid #f2f2f2;
    border-left: 100vw solid transparent;
    width: 0;
    height: 0;
    position: absolute;
    bottom: 0;
    z-index: -1;
  }
}

.information__container {
  background-color: #f2f2f2;
  padding-bottom: 301px;
  position: relative;
  z-index: -1;
}

.information__item {
  color: $base-font-color-content;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  line-height: 30px;
  margin: 0;
  margin-top: 40px;

  &:last-child {
    margin-top: 26px;
  }
}

@media (min-width: $widthTabletBody) {
  .webp .information {
    margin-top: 0;
    background-image: url("../img/iphone-screen-3-tablet@1x.webp");
    background-repeat: no-repeat;
    background-position: 21px bottom;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      .webp .information {
        margin-top: 0;
        background-image: url("../img/iphone-screen-3-tablet@2x.webp");
        background-repeat: no-repeat;
        background-position: 21px bottom;
      }
    }
  }

  .information {
    margin-top: 0;
    background-image: url("../img/iphone-screen-3-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: 21px bottom;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      .information {
        margin-top: 0;
        background-image: url("../img/iphone-screen-3-tablet@2x.png");
        background-repeat: no-repeat;
        background-position: 21px bottom;
      }
    }
  }

  .information .wrapper {
    border-color: #f2f2f2;
  }

  .information__item {
    font-size: 40px;
    line-height: 50px;
    margin: 0;

    &:last-child {
      margin-top: 0;
    }
  }

  .information__item--padding {
    padding: 0 55px;
    width: 425px;
    margin: 0 auto;
  }

  .information__container {
    background-color: #f2f2f2;
    position: relative;
    padding-bottom: 15px;
  }

  .information__container .wrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    background-color: #f2f2f2;
  }

  .information__intro {
    padding-bottom: 100px;
    margin-top: 46px;

    &::after {
      border-bottom: 50px solid #f2f2f2;
      border-left: 100vw solid transparent;
    }
  }

  .information__advantages {
    padding: 0 25px;
  }
}

@media (min-width: $widthDesktopBody) {
  .webp .information {
    background-image: none;
    width: auto;
  }

  .information {
    background-image: none;
  }

  //.information__img {
  //  display: none;
  //}

  .information__item {
    font-size: 50px;
    margin-top: 40px;

    &:last-child {
      margin-top: 15px;
    }
  }

  .information__item--padding {
    display: block;
    width: 640px;
    margin: 0 auto;
  }

  .information__intro {
    margin-top: 31px;
    padding-bottom: 155px;
  }
}
