.information {
  outline: 1px solid red;
  border-top: 1px solid transparent;
}

.information__item {
  color: #283645;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  margin: 0;
  margin-top: 40px;
}

.information__img {
  width: 80px;
  height: 280px;
  text-align: center;
  background-color: #f2f2f2;
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-position: top, center;
  background-repeat: no-repeat;
  flex-shrink: 0;
  z-index: 2;
}

@media (min-width: 660px) {
  .information {
    margin-top: 214px;
  }

  .information__img {
    width: 270px;
    height: 480px;
    background-size: cover;
    //position: absolute;
    background-color: transparent;
    margin-left: 20px;
  }
}
