.logo-link {
  .icon-pink-blue-mobile__part1 {
    fill: #283645;
  }

  .icon-pink-blue-mobile__part2 {
    fill: #d4335f;
  }
}

.icon-pink-blue-desktop__part1 {
  fill: #283645;
}

.icon-pink-blue-desktop__part2 {
  fill: #d22856;
}

.icon-pink-blue-desktop__part3 {
  fill: #283645;
}

.icon-pink-blue-desktop__part4 {
  fill: #d22856;
}


.logo-link:hover {
  .icon-pink-blue-mobile__part1 {
    fill: #d4335f;
    transition: 0.3s;
  }

  .icon-pink-blue-mobile__part2 {
    fill: #d4335f;
  }
}

.logo-link:hover .icon-pink-blue-desktop__part1 {
  fill: #d4335f;
}

.logo-link:hover .icon-pink-blue-desktop__part2 {
  fill: #d4335f;
}

.logo-link:hover .icon-pink-blue-desktop__part3 {
  fill: #d4335f;
}

.logo-link:active {
  opacity: 0.3;

  .icon-pink-blue-mobile__part1 {
    fill: #283645;
  }

  .icon-pink-blue-mobile__part2 {
    fill: #d4335f;
  }
}

.logo-link:active .icon-pink-blue-desktop__part1 {
  opacity: 0.3;
  fill: #283645;
}

.logo-link:active .icon-pink-blue-desktop__part2 {
  opacity: 0.3;
}

.logo-link:active .icon-pink-blue-desktop__part3 {
  opacity: 0.3;
  fill: #283645;
}

.logo-link:active .icon-pink-blue-desktop__part4 {
  opacity: 0.3;
}

.logo-link__header {
  .icon-pink-blue-mobile__part1 {
    fill: #ffffff;
  }

  .icon-pink-blue-mobile__part2 {
    fill: #ffffff;
  }
}

.logo-link__header:hover {
  .icon-pink-blue-mobile__part1 {
    fill: #d4335f;
    transition: 0.1s;
  }

  .icon-pink-blue-mobile__part2 {
    fill: #d4335f;
  }
}

.logo-link__header:active {
  opacity: 0.3;

  .icon-pink-blue-mobile__part1 {
    fill: #6c7682;
  }

  .icon-pink-blue-mobile__part2 {
    fill: #6c7682;
  }
}

.logo--mobile {
  width: 75px;
  height: 23px;
}

.logo--tablet {
  display: none;
  width: 148px;
  height: 40px;
}

.logo--desktop {
  display: none;
  width: 148px;
  height: 40px;
}

.footer-logo {
  width: 148px;
  height: 40px;
}

@media (min-width: $widthTabletBody) {
  .logo--mobile {
    display: none;
  }

  .logo--tablet {
    display: block;

    &:active {
      opacity: 0.3;
    }
  }

  .logo--desktop {
    display: none;
  }
}

@media (min-width: $widthDesktopBody) {
  .logo--mobile {
    display: none;
  }

  .logo--tablet {
    display: none;
  }

  .logo--desktop {
    display: block;
  }
}
