.main-nav {
  display: none;
  width: $widthMobileBody;
  position: relative;
  z-index: 1;

  &--opened {
    display: block;
  }
}

.main-nav__items {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: $colorPage2;
}

.main-nav__item {
  list-style-type: none;
  margin: 0 auto;
  padding-top: 2px;
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000000;
}

.main-nav__link {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 32px;
  padding: 14px;
  color: $colorFont;
  font-weight: 700;
  text-align: center;
}

@media (min-width: $widthTabletBody) {
  .main-nav {
    width: 100%;
  }
}

@media (min-width: $widthDesktopBody) {
  .main-nav {
    display: none;
  }
}
