.news {
  border-top: 1px solid transparent;
  display: none;
}

.news__container {
  width: 310px;
}

.news__description {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}

.news__title {
  margin: 0;
  line-height: 36px;
}

.news__text {
  color: $base-font-color-content;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.news__link {
  color: $base-font-color-title;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;

  &:hover {
    color: #283645;
    text-decoration: underline;
    cursor: pointer;
    transition: 0.3s;
  }

  &:active {
    color: #e9ebec;
  }
}

@media (min-width: $widthTabletBody) {
  .news {
    display: block;
  }

  .news .wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0 0;
  }

  .news__container {
    margin-top: 12px;
  }

  .news__title {
    margin-top: 0;
  }

  .news__img {
    width: 240px;
    height: 278px;
    background-image: url("../img/timer.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 170px;
      height: 170px;
      border: 14px solid #d22856;
      border-radius: 50%;
      position: absolute;
      top: 59px;
      right: 21px;
    }

    &::before {
      content: "24";
      display: block;
      font-size: 90px;
      font-weight: 700;
      color: #d22856;
      position: absolute;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .news__text {
    width: 300px;
    margin: 0;
    margin-top: 11px;
  }

  .news__link {
    font-size: 14px;
    line-height: 24px;
  }
}

@media (min-width: $widthDesktopBody) {
  .news {
    background-color: #f2f2f2;
  }

  .news__container {
    width: auto;
    margin-top: 65px;
  }

  .news__img {
    width: 300px;
    height: 350px;
    margin-right: 70px;
    margin-left: 0;

    &::after {
      content: "";
      width: 215px;
      height: 215px;
      position: absolute;
      top: 78px;
      right: 29px;
    }

    &::before {
      content: "24";
      font-size: 120px;
      position: absolute;
    }
  }

  .news__title {
    line-height: 30px;
  }

  .news__title br {
    display: none;
  }

  .news .wrapper {
    justify-content: flex-end;
    padding: 59px 0 85px;
  }

  .news__description {
    margin-top: -8px;
    line-height: 36px;
  }

  .news__text {
    width: 533px;
    margin: 19px 0 23px;
    font-size: 18px;
    line-height: 30px;
  }

  .news__link {
    font-size: 18px;
  }
}
