.os-select {
  background-color: #f2f2f2;
}

.os-select__title {
  color: $base-font-color-title;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
  padding: 33px 25px 0;
}

.os-select__item {
  margin-left: 75px;
  margin-top: 43px;
}

.os-select__input {
  visibility: hidden;
  position: absolute;
  opacity: 0;

  &:checked + .os-select__label::before {
    content: "";
    display: block;
    width: 35px;
    height: 35px;
    background-image: url("../img/icon-map-marker-form.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-color: #d22856;
  }
}

.os-select__label {
  color: $base-font-color-content;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  position: relative;
  cursor: pointer;

  &::before {
    content: "";
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
    position: absolute;
    top: 0;
    left: -70px;
    transform: translateY(-20%);
  }

  &:hover::before {
    border-color: #283645;
  }
}

@media (min-width: $widthTabletBody) {
  .os-select {
    background-color: #ffffff;
    order: 2;
  }

  .os-select__item {
    margin-left: 112px;
    margin-top: 48px;
  }

  .os-select .wrapper {
    width: auto;
  }

  .os-select__title {
    display: none;
  }

  .os-select__label {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -60px;
    }
  }
}

@media (min-width: $widthDesktopBody) {
  .os-select {
    width: 455px;
  }

  .os-select__item {
    margin-left: 131px;
    margin-top: 50px;
  }

  .os-select .wrapper {
    width: auto;
  }
}
