.popup-event {
  margin: 0 auto;
  min-width: 320px;
  width: 320px;
  box-shadow: 0 7px 11px 6px #dfdfdf;
}

.popup-event__heading {
  padding: 45px 0 20px;
  margin: 0;
  color: black;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
}

.popup-event__text {
  padding: 0 25px 30px;
  margin: 0;
  color: $colorPage2;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.popup-event__button-decoration {
  background-color: #f2f2f2;
  padding: 50px 0;
}

.popup-event__button {
  margin: 0 auto;
  padding: 50px;
  min-width: 300px;

  &:hover {
    background-color: #1c9b5e;
  }

  &:active {
    color: #7abc98;
  }
}

@media (min-width: $widthTabletBody) {
  .popup-event {
    width: 460px;
  }

  .popup-event__heading {
    padding: 45px 125px 20px;
    font-size: 28px;
    line-height: 36px;
  }

  .popup-event__text {
    padding: 0 70px 30px;
    font-size: 18px;
    line-height: 26px;
  }
}
