.post__img-container {
  font-size: 0;
}

.post__img-container--panorama {
  position: relative;
  font-size: 0;
}

.post__user-name--panorama {
  margin-right: auto;
}

.post__feature--panorama {
  position: absolute;
  top: 0;
  right: 23px;
  text-align: center;
  width: 130px;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  display: block;
  padding: 3px;
  color: $colorFont;
  background-color: $base-font-color-title;
  margin: 0;
}

.post__card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #f2f2f2;
  margin: 0;
  margin-top: -4px;
  padding: 5px 0 16px 20px;
}

.post__card--panorama {
  margin: 0 20px;
  padding: 0;
  padding-left: 18px;
  padding-bottom: 15px;
}

.post__card--panorama .wrapper {
  position: relative;
}

.post__card .wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.post__img {
  width: 100%;
  height: auto;
}

.post__user-text {
  color: $colorPage2;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  padding-bottom: 10px;
}

.post__user-name {
  color: $colorPage2;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  padding-top: 19px;
}

.post__time {
  color: $colorPage2;
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
}

.post__like {
  color: $base-font-color-title;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
  margin: auto 0 0 30px;
  order: 1;
  position: relative;
}

.post__heart {
  display: block;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-heart.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  position: absolute;
  top: 2px;
  right: 248px;
}

@media (min-width: $widthTabletBody) {
  .post__img-container {
    height: 304px;
    margin-top: 0;
  }

  .post__img-container--panorama {
    width: 100%;
    height: auto;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .posts__item-container {
    margin-top: 47px;
  }

  .post__card {
    margin-top: 0;
    padding-top: 0;
    padding-left: 30px;
    min-height: 129px;
  }

  .post__card--panorama {
    width: 609px;
    margin: 0 auto;
    min-height: 109px;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
  }

  .post__img--panorama {
    width: 106%;
    height: auto;
    min-height: 50px;
    transform: translateX(-20px);
  }

  .post__card--panorama .wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 17px;
    padding-top: 8px;
    width: 584px;
  }

  .post__like {
    margin-left: 0;
  }

  .post__heart {
    position: absolute;
    top: 2px;
    right: 33px;
  }

  .post__like--panorama {
    order: 0;
    margin-right: 51px;
    margin-top: 17px;
  }

  .post__heart--panorama {
    position: absolute;
    top: 2px;
    right: -30px;
  }

  .post__user-name {
    padding-top: 18px;
  }

  .post__user-name--panorama {
    padding-top: 16px;
    margin-right: auto;
  }

  .post__user-text {
    width: 265px;
  }

  .post__user-text--panorama {
    padding: 0;
    width: 535px;
  }

  .post__feature--panorama {
    top: 59px;
    right: 22px;
    z-index: 2;
  }
}

@media (min-width: $widthDesktopBody) {
  .post__feature--panorama {
    top: 56px;
    right: 11px;
    z-index: 2;
  }

  .post__user-text--panorama {
    width: 880px;
  }

  .post__like--panorama {
    margin-top: 15px;
    margin-right: 43px;
  }

  .post__card {
    margin-top: 0;
    min-height: 135px;
  }

  .post__card--panorama {
    width: 925px;
    min-height: 80px;
  }

  .post__card--panorama .wrapper {
    width: 890px;
    margin: 0 auto;
    padding-left: 0;
  }

  .post__user-name {
    padding-top: 24px;
  }

  .post__user-name--panorama {
    padding-top: 13px;
    margin-right: auto;
  }

  .post__img-container {
    height: 400px;
  }

  .post__img-container--panorama {
    margin: 43px auto 0;
    height: auto;
    max-width: 1200px;
    overflow: hidden;
  }

  .post__img--panorama {
    width: 125%;
    height: auto;
    transform: translateX(-121px);
  }
}
