.posts__item-container {
  width: 280px;
  margin: 0 auto;
}

.post__img-container {
  margin-top: 12px;
}

.post__img-container--panorama {
  position: relative;
}

.post__feature--panorama {
  position: absolute;
  top: 5px;
  right: 21px;
  text-align: center;
  width: 130px;
  font-size: 14px;
  font-weight: 400;
}

.post__card {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  margin: 0;
  margin-top: -4px;
  padding: 5px 0 16px 20px;
}

.post__card--panorama {
  margin: 0 20px;
  padding: 0;
  padding-left: 12px;
  padding-bottom: 15px;
}

.post__card .wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.post__img {
  width: 100%;
  height: auto;
}

.post__user-text {
  color: $colorPage2;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  padding-bottom: 15px;
}

.post__user-name {
  color: $colorPage2;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  padding-top: 12px;
}

.post__time {
  color: $colorPage2;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
}

.post__like {
  color: $base-font-color-title;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
  margin: auto 0 0 30px;
  order: 1;
}

@media (min-width: $widthTabletBody) {
  .post__img-container {
    height: 306px;
    margin-top: 0;
  }

  .post__img-container--panorama {
    width: 100%;
    height: 528px;
    margin-top: 13px;
  }

  .posts__item-container {
    margin-top: 35px;
  }

  .post__card {
    margin-top: -6px;
    min-height: 129px;
  }

  .post__card--panorama {
    width: 590px;
    margin: -19px auto 0;
    min-height: 120px;
  }

  .post__img--panorama {
    width: 100%;
    height: auto;
    min-height: 50px;
  }

  .post__card--panorama .wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 7px;
    padding-top: 8px;
    width: 584px;
  }

  .post__like {
    margin: auto 0 0 11px;
    font-size: 11px;
  }

  .post__like--panorama {
    order: 0;
    margin-right: 50px;
  }

  .post__user-name {
    padding-top: 18px;
  }

  .post__user-text {
    width: 265px;
  }

  .post__user-text--panorama {
    padding: 0;
    width: 535px;
  }

  .post__feature--panorama {
    top: 59px;
    right: 19px;
  }
}

@media (min-width: $widthDesktopBody) {
  .post__feature--panorama {
    top: 45px;
    right: 50px;
  }

  .post__user-text--panorama {
    width: 880px;
  }

  .post__card {
    margin-top: 0;
  }

  .post__card--panorama {
    width: 940px;
    margin: -4px auto 0;
  }

  .post__card--panorama .wrapper {
    width: 890px;
    margin: 0 auto;
    padding-left: 0;
  }

  .post__img-container {
    height: 400px;
  }

  .post__img-container--panorama {
    margin-top: 43px;
    height: 509px;
  }
}
