.presentation__description {
  padding: 30px 20px;
  color: $base-font-color-content;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  margin: 0;
}

.presentation__description-desktop {
  display: none;
}

@media (min-width: $widthTabletBody) {
  .presentation__description {
    padding: 65px 0;
    font-size: 18px;
    width: 500px;
    margin: 0 auto;
  }

  .presentation__description-desktop {
    display: inline;
    font: inherit;
  }
}

@media (min-width: $widthDesktopBody) {
  .presentation__description {
    width: 615px;
  }

  .presentation__description-desktop {
    display: inline;
    font: inherit;
  }
}
