.presentation__description {
  padding: 30px 20px;
  color: #283645;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  margin: 0;
  outline: 1px solid red;
}

.presentation__description-desktop {
  display: none;
}

@media (min-width: $widthTabletBody) {
  .presentation__description {
    padding: 30px 110px;
  }

  .presentation__description-desktop {
    display: inline;
    font: inherit;
  }
}

@media (min-width: $widthDesktopBody) {
  .presentation__description {
    padding: 30px 260px;
  }

  .presentation__description-desktop {
    display: inline;
    font: inherit;
  }
}
