.presentation__description {
  padding: 42px 20px 35px;
  color: $base-font-color-content;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  margin: 0;
}

.presentation__description span {
  display: block;
}

.presentation__description--photo {
  padding: 44px 35px 35px;
}

.presentation__description-desktop {
  display: none;
}

@media (min-width: $widthTabletBody) {
  .presentation__description {
    padding: 90px 0 61px;
    font-size: 18px;
    width: 500px;
    margin: 0 auto;
  }

  .presentation__description--padding {
    padding-top: 44px;
    padding-bottom: 70px;
  }

  .presentation__description-desktop {
    display: inline;
    font: inherit;
  }
}

@media (min-width: $widthDesktopBody) {
  .presentation__description {
    width: 770px;
    padding: 94px 0 43px;
  }

  .presentation__description--padding {
    padding: 3px 0 67px;
  }

  .presentation__description-desktop {
    display: inline;
    font: inherit;
  }

  .presentation__description--photo {
    width: 630px;
  }
}
