.price .slider-controls {
  padding-top: 22px;
}

.price {
  width: 320px;
  overflow: hidden;
  position: relative;
  padding-top: 20px;

  &::after {
    content: "";
    display: block;
    border-bottom: 50px solid #ffffff;
    border-left: 100vw solid transparent;
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    transform: rotate(180deg);
  }
}

@media (min-width: $widthTabletBody) {
  .price {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #f2f2f2;
  }

  .price .slider-controls {
    display: none;
  }
}
