.reviews__slider {
  padding-bottom: 28px;
}

.reviews .slider-controls {
  padding-bottom: 8px;
  margin-top: -4px;
}

@media (min-width: $widthTabletBody) {
  .reviews {
    width: 100%;
  }

  .reviews__slider {
    padding-bottom: 20px;
  }

  .reviews__decoration {
    position: relative;
  }

  .reviews .slider-controls {
    margin-top: 13px;
    padding-bottom: 0;
  }
}

@media (min-width: $widthDesktopBody) {
  .reviews {
    margin-top: 46px;
  }

  .reviews__slider {
    padding: 30px 0 55px;
  }

  .reviews__decoration {
    &::before {
      content: "";
      display: block;
      width: 80px;
      height: 65px;
      background-image: url("../img/quotes.png");
      background-repeat: no-repeat;
      margin: 30px auto 0;
    }
  }
}
