.reviews__slider {
  padding-bottom: 28px;
}

.reviews .slider-controls {
  padding-bottom: 8px;
  margin-top: -4px;
}

@media (min-width: $widthTabletBody) {
  .reviews {
    width: 100%;
  }

  .reviews__slider {
    padding-bottom: 50px;
  }

  .reviews__decoration {
    position: relative;
  }
}

@media (min-width: $widthDesktopBody) {
  .reviews {
    padding-top: 80px;
  }

  .reviews__slider {
    padding: 0 0 115px;
  }

  .reviews__decoration {
    &::before {
      content: "";
      display: block;
      width: 80px;
      height: 65px;
      background-image: url("../img/quotes.png");
      background-repeat: no-repeat;
      margin: 0 auto;
    }
  }
}
