.slider-reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 40px;
  margin: 0;
  overflow: hidden;
}

.slider-reviews__item {
  margin: 0;
  padding: 0;
  position: relative;
}

.slider-reviews__title {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

.slider-reviews__description {
  color: #283645;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}

.slider-reviews__age {
  display: none;
  color: #283645;
  font-size: 12px;
  font-weight: 400;
  line-height: 30px;
}

.slider-reviews__btn-right {
  display: none;
}

.slider-reviews__btn-left {
  display: none;
}

@media (min-width: $widthTabletBody) {
  .slider-reviews__item {
    display: flex;
    flex-direction: column-reverse;
  }

  .slider-reviews__age {
    display: block;
    order: -1;
  }
}

@media (min-width: $widthDesktopBody) {
  .slider-reviews__item {
    margin: 0 auto;
  }

  .slider-reviews__description {
    padding: 0 185px;
  }

  .slider-reviews__btn-right {
    display: block;
    width: 50px;
    height: 50px;
    border: none;
    border-right: 2px solid #c2c6ca;
    border-top: 2px solid #c2c6ca;
    transform: rotate(45deg) translateY(-50%);
    background-color: transparent;
    position: absolute;
    right: 0;
    top: 50%;
    cursor: pointer;
  }

  .slider-reviews__btn-left {
    display: block;
    width: 50px;
    height: 50px;
    border: none;
    border-left: 2px solid #c2c6ca;
    border-bottom: 2px solid #c2c6ca;
    transform: rotate(45deg) translateY(-50%);
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 0;
    cursor: pointer;
  }
}
