.slider-price {
  background-color: #f2f2f2;
  padding: 71px 0 46px;
}

.slider-price__table {
  width: 1000px;
  margin: 24px auto 0;
  border-collapse: collapse;
  transform: translateX(-42.4%);
}

.slider-price__row {
  border: 2px solid #e5e5e5;
}

.slider-price__heading {
  background-color: $colorPage2;
  position: relative;
  width: 276px;
  overflow: hidden;
  padding: 20px 0 20px;
  border: 2px solid #e5e5e5;
}

.slider-price__title {
  display: block;
  color: $colorFont;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
}

.slider-price__cost {
  display: block;
  color: $colorFont;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.slider-price__column {
  background-color: #ffffff;
  color: $base-font-color-content;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
  padding: 14px 0 15px 22px;
  border: 2px solid #e5e5e5;
}

.slider-price__feature {
  font-size: 12px;
  line-height: 24px;
  width: 150px;
  transform: rotate(-45deg);
  position: absolute;
  top: 9px;
  right: 175px;
  display: block;
  padding: 3px;
  color: $colorFont;
  font-weight: 400;
  background-color: $base-font-color-title;
  margin: 0;
}

.slider-price__row:nth-child(2) {
  .slider-price__column {
    margin: 0 auto;
    position: relative;

    &:nth-child(2) {
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 17px;
        right: 17px;
        width: 27px;
        height: 27px;
        background-image: url("../img/icon-yes.svg");
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    &:nth-child(3) {
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 17px;
        right: 17px;
        width: 27px;
        height: 27px;
        background-image: url("../img/icon-yes.svg");
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    &:nth-child(4) {
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 17px;
        right: 17px;
        width: 27px;
        height: 27px;
        background-image: url("../img/icon-yes.svg");
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
}


.slider-price__row:nth-child(3) {
  .slider-price__column {
    margin: 0 auto;
    position: relative;

    &:nth-child(2) {
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 17px;
        right: 17px;
        width: 27px;
        height: 27px;
        background-image: url("../img/icon-no.svg");
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    &:nth-child(3) {
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 17px;
        right: 17px;
        width: 27px;
        height: 27px;
        background-image: url("../img/icon-yes.svg");
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    &:nth-child(4) {
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 17px;
        right: 17px;
        width: 27px;
        height: 27px;
        background-image: url("../img/icon-yes.svg");
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
}

.slider-price__row:nth-child(4) {
  .slider-price__column {
    margin: 0 auto;
    position: relative;

    &:nth-child(2) {
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 17px;
        right: 17px;
        width: 27px;
        height: 27px;
        background-image: url("../img/icon-no.svg");
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    &:nth-child(3) {
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 17px;
        right: 17px;
        width: 27px;
        height: 27px;
        background-image: url("../img/icon-no.svg");
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    &:nth-child(4) {
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 17px;
        right: 17px;
        width: 27px;
        height: 27px;
        background-image: url("../img/icon-yes.svg");
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
}

@media (min-width: $widthTabletBody) {
  .slider-price {
    display: flex;
    flex-direction: column;
    padding: 65px 0 46px;
  }

  .slider-price__title {
    font-size: 16px;
  }

  .slider-price__cost {
    font-size: 18px;
  }

  .slider-price .slider-controls {
    display: flex;
    flex-direction: row;
  }

  .slider-price__text-hidden {
    font-size: 0;
    border: 0;
  }

  .slider-price__table {
    width: auto;
    transform: translate(0);
  }

  .slider-price__heading {
    padding: 13px 0 10px;
    width: 155px;
  }

  .slider-price__row:nth-child(2) {
    .slider-price__column {
      font-size: 0;
      padding: 0;
      width: 155px;
      margin: 0 auto;

      &:nth-child(2) {
        background-image: url("../img/icon-yes.svg");
        background-repeat: no-repeat;
        background-position: center;

        &::after {
          content: "";
          display: none;
        }
      }

      &:nth-child(3) {
        background-image: url("../img/icon-yes.svg");
        background-repeat: no-repeat;
        background-position: center;

        &::after {
          content: "";
          display: none;
        }
      }

      &:nth-child(4) {
        background-image: url("../img/icon-yes.svg");
        background-repeat: no-repeat;
        background-position: center;

        &::after {
          content: "";
          display: none;
        }
      }
    }
  }

  .slider-price__row:nth-child(3) {
    .slider-price__column {
      font-size: 0;
      padding: 0;
      width: 155px;
      margin: 0 auto;

      &:nth-child(2) {
        background-image: url("../img/icon-no.svg");
        background-repeat: no-repeat;
        background-position: center;

        &::after {
          content: "";
          display: none;
        }
      }

      &:nth-child(3) {
        background-image: url("../img/icon-yes.svg");
        background-repeat: no-repeat;
        background-position: center;

        &::after {
          content: "";
          display: none;
        }
      }

      &:nth-child(4) {
        background-image: url("../img/icon-yes.svg");
        background-repeat: no-repeat;
        background-position: center;

        &::after {
          content: "";
          display: none;
        }
      }
    }
  }

  .slider-price__row:nth-child(4) {
    .slider-price__column {
      font-size: 0;
      padding: 0;
      width: 155px;
      margin: 0 auto;

      &:nth-child(2) {
        background-image: url("../img/icon-no.svg");
        background-repeat: no-repeat;
        background-position: center;

        &::after {
          content: "";
          display: none;
        }
      }

      &:nth-child(3) {
        background-image: url("../img/icon-no.svg");
        background-repeat: no-repeat;
        background-position: center;

        &::after {
          content: "";
          display: none;
        }
      }

      &:nth-child(4) {
        background-image: url("../img/icon-yes.svg");
        background-repeat: no-repeat;
        background-position: center;

        &::after {
          content: "";
          display: none;
        }
      }
    }
  }

  .slider-price__feature {
    transform: rotate(-45deg);
    position: absolute;
    top: 1px;
    right: 59px;
  }

  .slider-price__column-hidden {
    display: table-cell;
    width: 122px;
    padding: 7px 16px;
    vertical-align: middle;
    background-color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    color: $base-font-color-content;
    text-transform: capitalize;
  }

  .slider-price__row--border {
    border: none;
  }
}

@media (min-width: $widthDesktopBody) {
  .slider-price {
    padding: 65px 0 97px;
  }

  .slider-price__title {
    font-size: 18px;
    line-height: 30px;
  }

  .slider-price__cost {
    font-size: 24px;
    line-height: 30px;
  }

  .slider-price__feature {
    position: absolute;
    top: 9px;
    right: 131px;
  }

  .slider-price__table {
    margin-top: 67px;
    width: 943px;
  }

  .slider-price__heading {
    padding: 17px 0 21px 0;
  }

  .slider-price__column-hidden {
    font-size: 18px;
    padding: 14px 16px;
  }
}
