.slider-price {
  background-color: #f2f2f2;
  outline: 1px solid red;
  padding: 50px 0;
}

.slider-price__table {
  background-color: #ffffff;
  width: 1000px;
  margin: 25px auto 0;
  border-collapse: collapse;
  transform: translate(-42.4%);
}

.slider-price__row {
  border: 2px solid #e5e5e5;
}

.slider-price__heading {
  background-color: $colorPage2;
  position: relative;
  width: 276px;
  overflow: hidden;
  padding: 20px 0 20px 0;
  border: 2px solid #e5e5e5;
}

.slider-price__feature {
  display: block;
  height: 27px;
  width: 100%;
  color: $colorFont;
  font-size: 14px;
  font-weight: 600;
  line-height: 27px;
  background-color: #d22856;
  margin: 0;
  transform: rotate(-45deg);
  position: absolute;
  top: 17px;
  left: -107px;
}

.slider-price__title {
  display: block;
  color: $colorFont;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.slider-price__cost {
  display: block;
  color: $colorFont;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.slider-price__column {
  color: #283645;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
  padding: 20px 0 20px 20px;
  border: 2px solid #e5e5e5;
}

.slider-price__column-desktop {
  display: none;
}

@media (min-width: $widthTabletBody) {
  .slider-price {
    display: flex;
    flex-direction: column;
  }

  .slider-price .slider-controls {
    display: flex;
  }

  .slider-price__text-hidden {
    font-size: 0;
    background-color: #f2f2f2;
    border: 0;
  }

  .slider-price__table {
    width: auto;
    transform: translate(0);
  }

  .slider-price__column {
    font-size: 0;
    padding: 0;
    width: 160px;
  }

  .slider-price__feature {
    position: absolute;
    top: 8px;
    left: -61px;
  }

  .slider-price__column-hidden {
    display: table-cell;
    width: 200px;
    padding: 15px;
    vertical-align: middle;
  }
}

@media (min-width: $widthDesktopBody) {
  .slider-price__feature {
    position: absolute;
    top: 8px;
    left: -100px;
  }
}
