.textarea__heading {
  color: $base-font-color-title;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  margin: 0;
  padding-top: 18px;
}

.textarea__description {
  width: 256px;
  height: 177px;
  margin: 10px auto 0;
  text-align: left;
  display: block;
  border: 2px solid #e5e5e5;
  padding: 10px;
  padding-top: 17px;
  font-size: 18px;
  overflow: hidden;

  &::placeholder {
    color: $base-font-color-content;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 3px 8px;
  }

  &:hover {
    border-color: #283645;
    transition: 0.3s;
  }

  &:focus {
    outline: none;
    border-color: #d22856;
    transition: 0.3s;
  }
}

@media (min-width: $widthTabletBody) {
  .textarea {
    order: 5;
  }

  .textarea__description {
    margin: 39px auto 45px;
    width: 480px;
    height: 170px;

    &::placeholder {
      font-size: 19px;
      padding-top: 1px;
    }
  }

  .textarea__heading {
    display: none;
  }
}

@media (min-width: $widthDesktopBody) {
  .textarea__description {
    width: 800px;
    height: 103px;
    margin: 30px auto 43px;
  }
}
