.textarea__heading {
  color: $base-font-color-title;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  margin: 0;
  padding-top: 0;
}

.textarea__description {
  font-family: "Open Sans", "Arial", sans-serif;
  max-width: 256px;
  min-width: 256px;
  height: 161px;
  min-height: 55px;
  margin: 7px auto 0;
  text-align: left;
  display: block;
  border: 2px solid #e5e5e5;
  padding: 17px 10px 21px;
  font-size: 18px;
  overflow: hidden;

  &::placeholder {
    color: $base-font-color-content;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
  }

  &:hover {
    border-color: #283645;
    transition: 0.3s;
  }

  &:focus {
    outline: none;
    border-color: #d22856;
    transition: 0.3s;
  }
}

@media (min-width: $widthTabletBody) {
  .textarea {
    order: 5;
  }

  .textarea__description {
    margin: 43px auto 47px;
    padding-left: 18px;
    max-width: 468px;
    min-width: 468px;
    height: 154px;

    &::placeholder {
      font-size: 19px;
      padding-top: 1px;
    }
  }

  .textarea__heading {
    display: none;
  }
}

@media (min-width: $widthDesktopBody) {
  .textarea__description {
    max-width: 790px;
    min-width: 790px;
    height: 88px;
    margin: 41px auto 39px;
  }
}
