.upload {
  background-color: #f2f2f2;
  text-align: center;
  padding-bottom: 40px;
  padding-top: 24px;
}

.upload__img {
  margin: 0 auto 25px;
  font-size: 0;
  width: 280px;
  height: 375px;
}

.upload__picture {
  width: 100%;
  height: auto;
}

.upload-tools {
  display: flex;
  justify-content: space-around;
  width: 240px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.upload-tools__label-crop {
  display: block;
  width: 44px;
  height: 44px;
  cursor: pointer;
  background-image: url("../img/icon-editor-crop.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.upload-tools__input {
  display: none;
}

.upload-tools__label-fill {
  display: block;
  width: 44px;
  height: 44px;
  cursor: pointer;
  background-image: url("../img/icon-editor-fill.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.upload-tools__label-grayscale {
  display: block;
  width: 44px;
  height: 44px;
  cursor: pointer;
  background-image: url("../img/icon-editor-contrast.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.upload__tool-line {
  position: relative;
  width: 240px;
  margin: 0 auto 25px;
  padding-bottom: 30px;

  &::after {
    content: "";
    display: block;
    width: 320px;
    height: 1px;
    background-color: #dddfe0;
    position: absolute;
    bottom: 0;
    left: -40px;
  }
}

.upload__line-container {
  margin-top: 46px;
}

.upload__tool-line-container {
  margin-top: 38px;
}

.upload__line {
  height: 2px;
  background-color: $colorPage2;
  margin: 0 auto;
}

.upload__circle {
  position: absolute;
  top: 0;
  right: 30px;
  transform: translateY(-50%);
  border-radius: 50%;
  border: 2px solid #d22856;
  box-sizing: border-box;
  background-color: #f2f2f2;
  width: 14px;
  height: 14px;
  cursor: pointer;
}

.upload__tool-line--hidden {
  display: none;
}

.upload__send {
  margin: 42px auto 0;
}

.upload__annulment {
  margin: 12px auto 0;
}

@media (min-width: $widthTabletBody) {
  .upload {
    padding-top: 40px;
  }

  .upload-tools__label-crop {
    background-image: url("../img/icon-editor-crop-small.svg");
  }

  .upload-tools__input {
    display: none;
  }

  .upload-tools__label-fill {
    background-image: url("../img/icon-editor-fill-small.svg");
  }

  .upload-tools__label-grayscale {
    background-image: url("../img/icon-editor-contrast-small.svg");
  }

  .upload-tools {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    margin-bottom: 0;
  }

  .upload .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .upload__line {
    width: 200px;
  }

  .upload__tool-line {
    position: relative;
    padding-bottom: 45px;

    &::after {
      content: "";
      display: block;
      width: 280px;
      height: 1px;
      background-color: #dddfe0;
      position: absolute;
      bottom: 7px;
      left: -41px;
    }
  }

  .upload__circle {
    &--crop {
      position: absolute;
      top: 0;
      right: 60px;
    }

    &--fill {
      position: absolute;
      top: 0;
      right: 181px;
    }

    &--grayscale {
      position: absolute;
      top: 0;
      right: 110px;
    }
  }

  .upload__img {
    margin: 0;
    margin-top: 15px;
    width: 300px;
    height: 419px;
  }

  .upload__tool-line--hidden {
    display: block;
  }

  .upload__instruments {
    display: flex;
    flex-direction: column;
  }

  .upload__line-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 180px;
    margin-top: 20px;
  }

  .upload__tool-line-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 70px;
  }

  .upload__buttons-container {
    margin-top: 45px;
    margin-right: 0;
    margin-left: 11px;
  }
}

@media (min-width: $widthDesktopBody) {
  .upload {
    width: 940px;
    margin: 0 auto;
    padding-top: 56px;
  }

  .upload-tools {
    margin-left: 8px;
  }

  .upload .wrapper {
    justify-content: space-around;
  }

  .upload__tool-line {
    position: relative;
    width: 278px;

    &::after {
      content: "";
      display: block;
      width: 420px;
      height: 1px;
      background-color: #dddfe0;
      position: absolute;
      bottom: 9px;
      left: -114px;
    }
  }

  .upload__line {
    width: 278px;
  }

  .upload__circle {
    &--crop {
      position: absolute;
      top: 0;
      right: 200px;
    }

    &--fill {
      position: absolute;
      top: 0;
      right: 30px;
    }

    &--grayscale {
      position: absolute;
      top: 0;
      right: 100px;
    }
  }

  .upload-tools__label-crop {
    background-image: url("../img/icon-editor-crop.svg");
  }

  .upload-tools__input {
    display: none;
  }

  .upload-tools__label-fill {
    background-image: url("../img/icon-editor-fill.svg");
  }

  .upload-tools__label-grayscale {
    background-image: url("../img/icon-editor-contrast.svg");
  }

  .upload__buttons-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    min-height: 65px;
    margin-top: 163px;
    margin-right: 35px;
  }

  .upload__tool-line-container {
    margin-right: 60px;
    margin-top: 70px;
  }

  .upload__line-container {
    justify-content: space-around;
    margin-top: 4px;
  }

  .upload__img {
    width: 300px;
    height: 419px;
    margin-left: 25px;
    margin-top: 0;
  }

  .upload__send {
    margin-top: 0;
    margin-right: 40px;
  }

  .upload__annulment {
    margin-top: 0;
  }
}
