.user-info .wrapper {
  outline: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-info__input {
  display: block;
  height: 60px;
  width: 280px;
  border: 3px solid #e5e5e5;
  padding: 0 10px;
}

.user-info__input::placeholder {
  color: #283645;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding-left: 20px;
}

.user-info__item {
  display: flex;
  flex-direction: column;
  margin: 30px 0 0;
  padding: 0;
}

.user-info__item:first-child {
  margin-top: 0;
}

.user-info__label {
  color: #d22856;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
  margin-left: 40px;
}

@media (min-width: $widthTabletBody) {
  .user-info {
    order: 1;
  }

  .user-info .wrapper {
    align-items: flex-start;
  }

  .user-info__item {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .user-info__label {
    margin-right: 20px;
  }
}

@media (min-width: $widthDesktopBody) {
  .user-info {
    width: 470px;
  }

  .user-info .wrapper {
    width: auto;
    padding-bottom: 81px;
  }

  .user-info__item:first-child {
    margin-top: 50px;
  }
}
