.wrapper {
  padding: 0;
}

@media (min-width: $widthTabletBody) {
  .wrapper {
    width: 620px;
    margin: 0 auto;
    padding: 0;
  }
}

@media (min-width: $widthDesktopBody) {
  .wrapper {
    width: 937px;
    margin: 0 auto;
    padding: 0;
  }
}
